<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="fragments/head :: head('Create a new post')">
</head>
<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container text-white d-flex justify-items-center align-items-center">
	<div class="post-cards card bg-dark col-12 col-md-5 text-white my-5 py-4 mx-auto d-block h-50">
		<div class="card-body col-12">
			<form method="POST" th:action="@{/posts/create}" th:object="${post}" enctype="multipart/form-data">
				<div class="card-title">
					<h4>Create a new Post!</h4>
				</div>
				<div class="card-text my-3">
					<label class="d-block mx-auto" for="title">Title</label>
					<input class="col-10 d-block mx-auto rounded" id="title" th:field="*{title}"/>
					<div class="alert alert-danger my-3" th:if="${#fields.hasErrors('title')}" role="alert">
						<strong th:errors="*{title}"></strong>
					</div>
				</div>
				<div class="card-text my-3">
					<label class="d-block mx-auto" for="body">Share your thoughts with the world!</label>
					<textarea class="col-10 rounded" id="body" th:field="*{body}"></textarea>
					<div class="alert alert-danger my-2" th:if="${#fields.hasErrors('body')}" role="alert">
						<strong th:errors="*{body}"></strong>
					</div>
				</div>
				<div class="input-group mb-3 col-10 mx-auto">
					<label class="custom-file-label text-left" for="file">
						Choose file
					</label>
					<div class="custom-file">
						<input class="custom-file-input" id="file" name="file" type="file"/>
					</div>
				</div>
				<input id="submit" class="btn btn-primary" type="submit" value="Create Post"/>
			</form>
		</div>
	</div>
</div>
<script th:href="@{/js/main.js}"></script>
<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>