<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="fragments/head :: head('Blog Post')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container text-white d-flex justify-items-center align-items-center">
	<div class="post-cards card bg-dark col-12 col-md-10 text-white my-5 py-4 mx-auto d-block">
		<div class="card-body">
			<img class="img-fluid card-img-top mb-3" th:src="${post.path}" alt="Card image cap"/>
			<div class="card-title">
				<h5 th:text="${post.title}"></h5>
			</div>
			<div class="card-text col-12">
				<p th:text="${post.body}"></p>
			</div>
			<div class="card-subtitle">
				<small th:text="${post.user.username}"></small>
			</div>
			<div class="card-subtitle">
				<small th:if="${#authentication.getPrincipal() == post.user.username}"
				       class="btn btn-primary"><a th:href="@{'/posts/delete'+ ${post.id}}"></a></small>
				<small th:if="${#authentication.getPrincipal() == post.user.username}"
				       class="btn btn-primary"><a
						th:href="@{'/posts/edit'+ ${post.id}}"></a></small>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>