<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head('Blog Post')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container d-flex justify-items-center align-items-center flex-wrap">
	<div class="card bg-dark col-10 text-white my-5 py-4 mx-auto d-block">
		<div class="card-body">
			<img class="img-fluid card-img-top mb-3" th:src="${post.path}" alt="Card image cap"/>
			<div class="card-title">
				<h5 th:text="${post.title}"></h5>
			</div>
			<div class="card-text col-12">
				<p th:text="${post.body}"></p>
			</div>
			<div class="card-subtitle">
				<small th:text="${post.user.username}"></small>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>