<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<nav id="my-nav" class="nav nav-default" th:fragment="navbar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="#">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/posts}">Blog Posts</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/posts/create}">Create A Post</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/registration}">Register Now!</a>
		</li>
	</ul>
</nav>
</body>
</html>