body {
    font-family: 'Puritan', sans-serif;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.landing {
    display: grid;
    grid-template-areas: "nav" "." "content" "." "foot";
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 30vh 1fr 30vh 30vh;
}

nav {
    z-index: 999;
    grid-area: nav;
}

.content {
    grid-area: content;
    border-radius: 17px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.nav-link > form > input {
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding-top: 0px;
}
