html, body {
    min-height: 100vh;
    width: 100vw;
    line-height: 1.6em;
}

body {
    height: 100%;
    font-family: 'Puritan', sans-serif;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

nav {
    z-index: 1;
    grid-area: nav;
}

.content {
    grid-area: content;
    border-radius: 17px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.nav-link > form > input {
    color: rgba(255,255,255,.5);
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding-top: 0px;
}

.container {
    min-height: 100vh;
}

.nav-link > form > input:hover {
    color: #f8f9fa;
}

.post-cards {
    min-height: 100%;
}
footer {
    width: 100%;
    position: relative;
    bottom: 0;
}
