<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Home page')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container d-flex justify-items-center align-items-center">
	<video id="video" preload="" muted="" autoplay="" loop="">
		<source th:src="@{/vid2.mp4}" type="video/mp4"/>
		<img th:src="@{/images/fallback.jpg}" title="Your browser does not support the video tag"/>
	</video>
	<div class="content col-12 col-sm-8 text-white my-5 mx-auto">
		<h2 class="landingTitle text-center my-3">For What It's Worth</h2>
		<h4 class="landingTitle text-center my-3">A blog providing real opinions, real reviews, and real answers, by
			real
			everyday people.</h4>
	</div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>