<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head('Login')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container d-flex justify-items-center align-items-center">
	<div class="card col-md-10 bg-dark text-center text-white mx-auto h-auto d-flex justify-items-center align-items-center h-75">
		<div class="card-body col-12 my-auto d-flex flex-column justify-items-center align-items-center">
			<div class="card-title col-12 mt-auto mb-3">
				<h4>Login or Register Today!</h4>
			</div>
			<div class="alert alert-success" role="alert" th:if="${param.logout}">
				<p>You have been logged out.</p>
			</div>
			<div class="card-text mx-auto mb-auto">
				<form class="mx-auto" th:action="@{/login}" method="post">
					<label class="d-block rounded" for="username">
						Username
					</label>
					<input class="d-block mx-auto rounded" id="username" name="username" type="text"/>
					<label class="d-block mt-3 rounded" for="password">
						Password
					</label>
					<input class="d-block mx-auto rounded" id="password" name="password" type="password"/>
					<div class="alert alert-danger rounded mt-5" role="alert" th:if="${param.error}">
							Username/Password did not match
					</div>
					<input class="btn btn-primary mt-5 mx-auto" type="submit" value="Login"/>
					<button class="btn btn-primary mt-5 mx-auto">
						<a class="text-white" th:href="@{/register}">
							Register
						</a>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>