<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head('Login')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
	<div class="row align-items-center">
		<div class="card col-md-10 my-5 mt-4 mx-auto bg-dark text-center text-white">
			<div class="card-body col-8 mx-auto">
				<div class="card-title">
					<h5>Log In</h5>
				</div>
				<div class="alert alert-success" role="alert"  th:if="${param.logout}">
					<p>You have been logged out.</p>
				</div>
				<div class="card-text mx-auto">
					<form class="mx-auto" th:action="@{/login}" method="post">
						<label class="d-block" for="username">Username</label>
						<input class="d-block mx-auto" id="username" name="username" type="text"/>
						<label class="d-block mt-3" for="password">Password</label>
						<input class="d-block mx-auto" id="password" name="password" type="password"/>
						<div class="alert alert-danger my-3" role="alert" th:if="${param.error}">
							<strong>Username/Password did not match</strong>
						</div>
						<input class="btn btn-primary my-3 mx-auto d-block" type="submit" value="Log In"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>