<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head('Login/Register')">
</head>
<body>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrationModal">
		Register Now!
	</button>
	<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog"
	     aria-labelledby="registrationModalTitle"
	     aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="registrationModalTitle">Register Here</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="card col-12 col-md-10 my-5 mt-4 mx-auto">
							<div class="card-body col-12">
								<form method="POST" th:action="@{/registration}" th:object="${user}">
									<input type="hidden" th:field="*{id}" th:value="*{id}"/>
									<div class="card-title col-12">
										<div>
											<label for="username">Username</label>
										</div>
										<input id="username" type="text" th:field="*{username}"/>
									</div>
									<div class="card-title col-12">
										<div>
											<label for="email">Email</label>
										</div>
										<input id="email" type="email" th:field="*{email}"/>
									</div>
									<div class="card-title col-12">
										<div>
											<label for="password">Password</label>
										</div>
										<input type="password" id="password" th:field="*{password}"/>
									</div>
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Register</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>