<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head('Dice Roller')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="col-6 text-center">
	<h1>Dice Roller!</h1>
	<h3>Select a number below</h3>
	<a href="/roll-dice/1">
		<input type="submit" class="btn btn-primary" value="1"/>
	</a>
	<a href="/roll-dice/2">
		<input type="submit" class="btn btn-primary" value="2"/>
	</a>
	<a href="/roll-dice/3">
		<input type="submit" class="btn btn-primary" value="3"/>
	</a>
	<a href="/roll-dice/4">
		<input type="submit" class="btn btn-primary" value="4"/>
	</a>
	<a href="/roll-dice/5">
		<input type="submit" class="btn btn-primary" value="5"/>
	</a>
	<a href="/roll-dice/6">
		<input type="submit" class="btn btn-primary" value="6"/>
	</a>
	<h2 th:if="${num != null}">
		 Your number was <span th:text="${num}"></span>.
		The correct number was <span th:text="${ranNum}"></span>.
		<span th:text="${msg}"></span>
	</h2>
	
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>